<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Landing Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/landing-page.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
    <div id="main" class="upper">
        <img src="../public/assets/main-bg.jpg" alt="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand nav-brand-custom my-3" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="landing-page.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="work-page.html">Work</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact-page.html">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">About Me</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 second-ul">
                        <li class="nav-item">
                            <a href="">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="center-text">
            <h1>Hello, This is About Me Page</h1>
        </div>
        
        <div class="scrollspy">
            <h6 class="btn-jump-off">End of page</h6>
            <a class="nav-link" href="#footer"><img src="../public/assets/scroll-down.svg" alt=""></a>
        </div>
    </div>
    

    <div id="footer" class="footer">
        <div class="background-image">
            <img src="../public/assets/newsletter.png" alt="">
        </div>

        <div class="container">
            <img src="../public/assets/skull.png" alt="Image" class="image">
            <div class="content">
                <h3>Want to stay in touch?</h3>
                <h1>Newsletter Subscribe</h1>
                <p class="footer-text">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                <div class="row g-2">
                    <div class="col-md input-field">
                    <div class="form-floating">
                        <input type="email" class="form-control input-sm input-field" id="inputsm" placeholder="name@example.com" value="agustinasovia@ucla.com">
                        <label class="label-input-field" for="inputsm">Your email address</label>
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="col-md">
                            <button class="btn-subscribe">Subscribe Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#main">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Game Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">System Requirements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quotes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/facebook.svg" alt="" class="footer-fb"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/twitter.svg" alt="" class="footer-twt"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/vector.svg" alt="" class="footer-yt"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/twitch.svg" alt="" class="footer-twitch"></a>
            </li>
        </ul>
    </div>
</body>
</html>