<div class="footer">
    <div class="background-image">
        <img src="assets/newsletter.png" alt="">
    </div>

    <div class="container">
        <img src="assets/skull.png" alt="Image" class="image">
        <div class="content">
            <h3>Want to stay in touch?</h3>
            <h1>Newsletter Subscribe</h1>
            <p class="footer-text">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            <div class="row g-2">
                <div class="col-md input-field">
                <div class="form-floating">
                    <input type="email" class="form-control input-sm input-field" id="inputsm" placeholder="name@example.com" value="agustinasovia@ucla.com">
                    <label class="label-input-field" for="inputsm">Your email address</label>
                </div>
                </div>
                <div class="col-md">
                    <div class="col-md">
                        <button class="btn-subscribe">Subscribe Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#main">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#upper-middle-id">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gaming-features">Game Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#system-req">System Requirements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#quotes">Quotes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../public/assets/facebook.svg" alt="" class="footer-fb"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../public/assets/twitter.svg" alt="" class="footer-twt"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../public/assets/vector.svg" alt="" class="footer-yt"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="../public/assets/twitch.svg" alt="" class="footer-twitch"></a>
        </li>
    </ul>
</div>