<header class="header" id="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand nav-brand-custom my-3 text-light" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/work-page">Work</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact-page">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about-me-page">About Me</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 second-ul">
                    <li class="nav-item">
                        <a href="">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                            <a href=""><button type="submit">Log Out</button></a>
                        </form>
                        
                    </li>
                    <li class="nav-item">
                        <a href=""><p>Hello, <%= name %></p></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>