<main class="main">
    <section class="home" id="home">
        <img src="assets/main-bg.jpg" alt="" class="home__img">

        <div class="home__container container grid">
            <div class="home__data">
                <h1 class="home__data-title">Play Traditional Game</h1>
                <span class="home__data-subtitle">Experience new traditional game play</span>
                <button class="play-now button"><a href="rps-game.html">PLAY NOW</a></button>
            </div>
            <div class="scrollspy">
                <br><br><br><br><br><br><br><br>
                <h6 class="btn-jump-off">The story</h6>
                <a class="nav-link" href="#upper-middle-id"><img src="assets/scroll-down.svg" alt=""></a>
            </div>
        </div>
    </section>

    <!-- first-content -->
    <div id="upper-middle-id" class="upper-middle">
        <img src="../public/assets/the-games-bg.jpg" alt="">
        <div class="left-text">
            <div class="carousel-container">
                <h3>What's so special?</h3>
                <h1>The games</h1>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src="./assets/ellipse.svg" class="d-block" alt="image-slider-1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><img src="./assets/ellipse-outline.svg" class="d-block" alt="image-slider-2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img src="./assets/ellipse-outline.svg" class="d-block" alt="image-slider-3"></button> -->
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="image-slider-1">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="image-slider-2">
                    </div>
                    <div class="carousel-item">
                        <img src="../public/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="image-slider-3">
                    </div>                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <img src="../public/assets/switch-left.svg" alt="Previous" class="carousel-custom-icon">
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <img src="../public/assets/switch-right.svg" alt="Next" class="carousel-custom-icon">
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- second-content -->
    <div id="gaming-features" class="upper-middles">
        <div class="upper-middles-bg">
            <img src="../public/assets/features.jpg" alt="">
        </div>
        <div class="upper-middles-title">
            <h3>What's so special?</h3>
            <h1>The games</h1>
        </div>
        <div class="upper-middles-container">
            <div class="first-point">
                <div class="point-img">
                    <img src="../public/assets/ellipse.svg" alt="">
                </div>
                <div class="point-details">
                    <div class="line-divider"></div>
                    <p class="point-title">Traditional Games</p>
                    <p class="point-content">If you miss your childhood, we provide many traditional games here</p>
                </div>
            </div>
            
            <div class="second-point">
                <img src="../public/assets/ellipse-outline.svg" alt="">
                <p class="point-title">Game Suit</p>
            </div>
            <div class="third-point">
                <img src="../public/assets/ellipse-outline.svg" alt="">
                <p class="point-title">TBD</p>
            </div>
        </div>
    </div>

    <!-- third content -->
    <div id="system-req" class="lower-middle">
        <div class="lower-middle-bg">
            <img src="../public/assets/requirements.png" alt="">
        </div>
        <div class="lower-middle-subtitle"><h3>Can My Computer Run this game?</h3></div>
        <div class="lower-middle-container">
            <div class="lower-middle-title"><h1>System Requirements</h1></div>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-4 border">
                        <br><h3>OS:</h3>
                        <h4>Windows 7 64-bit only</h4>
                        <h4>(No OSX support at this time)</h4><br>
                    </div>
                    <div class="col-6 col-sm-4 border">
                        <br><h3>PROCESSOR:</h3>
                        <h4>Intel Core 2 Duo @ 2.4 GHZ or</h4>
                        <h4>AMD Athlon X2 @ 2.8 GHZ</h4><br>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="col-6 col-sm-4 border">
                        <br><h3>MEMORY:</h3>
                        <h4>4 GB RAM</h4><br>
                    </div>
                    <div class="col-6 col-sm-4 border">
                        <br><h3>STORAGE:</h3>
                        <h4>8 GB available space</h4><br>
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="col-8 border">
                        <br><h3>GRAPHICS:</h3>
                        <h4>NVIDIA GeForce GTX 660 2GB or</h4>
                        <h4>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fourth content -->
    <div id="quotes" class="lower-middles">
        <div class="lower-middles-bg">
            <img src="../public/assets/top-score-bg.png" alt="">
        </div>
        <div class="lower-middles-container">
            <div class="lower-middles-title">
                <h1>Top Scores</h1>
                <h3>This top score from various games provided on this platform</h3>
                <button class="btn-see-more">See more</button>
            </div>
            
            <div class="cards-container row">
                <div class="first-card col-12 col-md-4">
                    <div class="head-content">
                        <img class="bg-person" src="../public/assets/ellipse-orange.png" alt="">
                        <img class="person" src="../public/assets/evan-lahti.jpg" alt="">
                        <div class="name-content">
                            <h4>Evan Lahti</h4>
                            <h5>PC Gamer</h5>
                        </div>
                        <img class="card-twt" src="../public/assets/twitter.svg" alt="">
                    </div>
                    <div class="description">
                        <h4>“One of my gaming highlights of the year.”</h4>
                        <h5>June 18, 2021</h5>
                    </div>
                </div>
                <div class="second-card col-12 col-md-4">
                    <div class="head-content">
                        <img class="bg-person" src="../public/assets/ellipse-orange.png" alt="">
                        <img class="person" src="../public/assets/jada-griffin.jpg" alt="">
                        <div class="name-content">
                            <h4>Jada Griffin</h4>
                            <h5>Nerdreactor</h5>
                        </div>
                        <img class="card-twt" src="../public/assets/twitter.svg" alt="">
                    </div>
                    <div class="description">
                        <h4>“The next big thing in the world of streaming and survival games."</h4>
                        <h5>July 10, 2021</h5>
                    </div>
                </div>
                <div class="third-card col-12 col-md-4">
                    <div class="head-content">
                        <img class="bg-person" src="../public/assets/ellipse-orange.png" alt="">
                        <img class="person" src="../public/assets/aaron-williams.jpg" alt="">
                        <div class="name-content">
                            <h4>Aaron Williams</h4>
                            <h5>Uproxx</h5>
                        </div>
                        <img class="card-twt" src="../public//twitter.svg" alt="">
                    </div>
                    <div class="description">
                        <h4>“Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</h4>
                        <h5>December 24, 2018</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="background-image">
            <img src="../public/assets/newsletter.png" alt="">
        </div>

        <div class="container">
            <img src="../public/assets/skull.png" alt="Image" class="image">
            <div class="content">
                <h3>Want to stay in touch?</h3>
                <h1>Newsletter Subscribe</h1>
                <p class="footer-text">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                <div class="row g-2">
                    <div class="col-md input-field">
                    <div class="form-floating">
                        <input type="email" class="form-control input-sm input-field" id="inputsm" placeholder="name@example.com" value="agustinasovia@ucla.com">
                        <label class="label-input-field" for="inputsm">Your email address</label>
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="col-md">
                            <button class="btn-subscribe">Subscribe Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#main">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#upper-middle-id">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gaming-features">Game Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#system-req">System Requirements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#quotes">Quotes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/facebook.svg" alt="" class="footer-fb"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/twitter.svg" alt="" class="footer-twt"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/vector.svg" alt="" class="footer-yt"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="../public/assets/twitch.svg" alt="" class="footer-twitch"></a>
            </li>
        </ul>
    </div>
</main>