<section class="contact section container" id="contact">
  <div class="contact__container grid">
    <div class="contact__box">
      <h2 class="section__title">
        Ready to dive in? <br />
        Login and let <br />
        the adventure begin! <br />
      </h2>

      <div class="contact__data">

        <div class="contact__information">
          <h3 class="contact__subtitle">Don't have account yet?</h3>
          <span class="contact__register">
            <a href="/register">Register here <i class="ri-arrow-right-up-line button__icon"></i></a>
          </span>
        </div>

        <div class="contact__information">
            <span class="contact__guest">
                <a href="/">Come as guest</a>
              </span>
          </div>
      </div>
    </div>
    <% if(messages.error) {%>
      <%= message.error %>
    <% } %>
    <form action="/login" method="POST" class="contact__form">
      <div class="contact__inputs">
        <div class="contact__content">
          <input type="email" id="email" name="email" placeholder=" " class="contact__input" />
          <label for="email" class="contact__label">Email</label>
        </div>

        <div class="contact__content">
          <input type="password" id="password" name="password" placeholder=" " class="contact__input" />
          <label for="password" class="contact__label">Password</label>
        </div>
      </div>

      <button type="submit" class="button button--flex">Login</button>
    </form>
  </div>
</section>
