<body>
  <section class="contact section container" id="contact">
    <div class="contact__container grid">
      <div class="contact__box">
        <h2 class="section__title">
          Jump on board! <br />
          Sign up and let <br />
          the adventure unfold! <br />
        </h2>

        <div class="contact__data">
          <div class="contact__information">
            <h3 class="contact__subtitle">Already have account?</h3>
            <span class="contact__register">
              <a href="/login"
                >Login here <i class="ri-arrow-right-up-line button__icon"></i
              ></a>
            </span>
          </div>

          <div class="contact__information">
            <span class="contact__guest">
              <a href="/">Come as guest</a>
            </span>
          </div>
        </div>
      </div>

      <form action="/register" method="POST" class="contact__form">
        <div class="contact__inputs">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                  <p class="error__text"><%= error.msg %></p>
                <% }); %>
              <% } %>              
              
          <div class="contact__content">
            <input type="text" id="name" name="name" placeholder=" " class="contact__input" />
            <label for="name" class="contact__label">Name</label>
          </div>

          <div class="contact__content">
            <input type="email" id="email" name="email" placeholder=" " class="contact__input" />
            <label for="email" class="contact__label">Email</label>
          </div>

          <div class="contact__content">
            <input type="password" id="password" name="password" placeholder=" " class="contact__input" />
            <label for="password" class="contact__label">Password</label>
          </div>
        </div>

        <button type="submit" class="button button--flex">Register</button>
      </form>
    </div>
  </section>
</body>
