<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Game</title>

    <link rel="stylesheet" href="../public/css/rps-game.css" />
  </head>
  <body>
    <header class="l-header">
      <nav class="nav bd-container">
        <div class="el-header">
          <a href="landing-page.html"><</a>
          <a href="#"><img src="../public/assets-game/btn-help-png.png" alt="" /></a>
          <h3>ROCK PAPER SCISSORS</h3>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <section class="section gm-container">
        <div class="game__container gm-grid">
          <div class="player__data player1__data">
            <h3>PLAYER 1 <span id="output-result"></span></h3>
            <button class="section-style selection" data-selection="rock">
              <img src="../public/assets-game/batu.png" alt="rock" />
            </button>
            <button class="section-style selection" data-selection="paper">
              <img src="../public/assets-game/kertas.png" alt="paper" />
            </button>
            <button class="section-style selection" data-selection="scissors">
              <img src="../public/assets-game/gunting.png" alt="scissors" />
            </button>
          </div>

          <div class="player__data final-result" data-final-column>
            <h1 id="final-result-text">VS</h1>
            <button id="refresh-button">
              <img
                class="btn-refresh"
                src="../public/assets-game/refresh.png"
                alt="refresh"
              />
            </button>
          </div>

          <div class="player__data com__data">
            <h3>COM <span id="output-results"></span></h3>
            <button class="section-style">
              <img src="../public/assets-game/batu.png" alt="" />
            </button>
            <button class="section-style">
              <img src="../public/assets-game/kertas.png" alt="" />
            </button>
            <button class="section-style">
              <img src="../public/assets-game/gunting.png" alt="" />
            </button>
          </div>
        </div>
      </section>
    </main>

    <script src="../JavaScript/rps-game.js"></script>
  </body>
</html>
