@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 5.5rem 0 1rem;
}

.section__title{
  font-size: 30px;
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title {
  text-align: left;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/* main */

.contact__container {
  row-gap: 3.5rem;
  background-color: rgb(246, 244, 240);
  border-radius: 10px;
  padding: 5%;
}

.contact__data {
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: rgb(192, 192, 192);
  margin-bottom: var(--mb-0-5);
}

.contact__register a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  column-gap: 0.5rem;
  color: rgb(160, 144, 119);
  font-weight: var(--font-medium);
}

.contact__register a:hover {
    font-weight: 600;
}

.contact__guest a {
  font-size: 15px;
  font-weight: var(--font-medium);
  color: rgb(152, 151, 151);
  margin-bottom: var(--mb-0-5);
  text-decoration: underline;
}

.contact__icon {
  font-size: 1.25rem;
}

.contact__inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  border: none;
  outline: none;
  z-index: 1;
}

.contact__label {
  position: absolute;
  top: 0.75rem;
  width: 100%;
  font-size: var(--small-font-size);
  transition: 0.3s;
  color: rgb(243, 181, 25);
}

.contact__area {
  height: 7rem;
}

.contact__area textarea {
  resize: none;
}

.contact__input:focus + .contact__label {
  top: -0.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

.contact__input:not(:placeholder-shown).contact__input:not(:focus)
  + .contact__label {
  top: -0.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

.error__text {
    color: brown;
}

/* BREAKPOINTS */
@media screen and (max-width: 320px){
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  }
  
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }

    .contact__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1024px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .section{
      padding: 8rem 0 1rem;
    }
    .section__title{
      font-size: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1024px;
    }
  }

  @media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
  }