body {
  background-color: #9c835f;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* === layout === */
.el-header {
  margin-left: 2%;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 6% 10% 19%;
  align-items: center;
  /* column-gap: 5rem; */
}

.l-main {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.game__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.gm-grid {
  display: grid;
}

.player__data {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-auto-rows: minmax(0, 1fr); */
  align-items: center;
  justify-items: center;
}

.section-style {
  padding: 4rem 0 2rem;
}

.gm-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  /* margin-left: 15rem;
      margin-right: 15rem; */
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* === element === */

.el-header a {
  text-decoration: none;
  color: #724c21;
  font-size: 3rem;
  font-weight: 600;
  /* width: 50%; */
}
.el-header img {
  width: 50%;
}
.el-header h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 49px;
  color: #f9b23d;
}

.player__data button {
  background-color: transparent;
  border: none;
}

.player__data img {
  width: 25%;
  height: auto;
  padding: 5%;
  border-radius: 10px;
}
.player__data img:hover {
  background-color: #a59074;
}

.player__data h1 {
  font-size: 5rem;
  color: #bd0000;
}
.player__data h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}

#output-result {
  color: #2a2929;
  text-transform: uppercase;
  font-style: italic;
}

#output-results {
  color: #2a2929;
  text-transform: uppercase;
  font-style: italic;
}
